@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap');

@keyframes spin {
   from {
      transform: rotate(360deg);
   }
   to {
      transform: rotate(0deg);
   }
}

* {
   margin: 0;
   font-family: 'Overpass Mono', monospace;
}

*:focus {
   outline: none;
}

body {
   background-color: #222831;
}

#panel-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   width: 100vw;
   height: 100vh;
}

.panel {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#top {
   height: 35%;
}

#middle {
   height: 30%;
   vertical-align: middle;
}

#bottom {
   height: 35%;
   flex-direction: column;
   justify-content: flex-start;
}

#restart-button {
   user-select: none;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 90px;
   align-self: flex-end;

   border: none;
   background-color: #ffd369;
   width: 5vmin;
   height: 5vmin;

   transition: background-color 150ms;
}

#restart-button > img {
   max-width: 100%;
}

#restart-button:hover {
   background-color: #d8b25b;
}

.spin {
   transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
   animation-name: spin;
   animation-duration: 700ms;
   animation-fill-mode: forwards;
}

#passage-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   transition: opacity 700ms;
   width: 60%;
}

#cursor {
   position: absolute;
   font-size: 3vmin;
}

#passage {
   color: #ffd369;
   font-size: 3vmin;
   user-select: none;
}

#passage > mark {
   background-color: #ffd369;
   color: #222831;
}

#timer {
   color: #eeeeee;
   padding: 2%;
   font-size: 2.5vmin;
}

#results-container {
   position: absolute;
   width: 100%;
   height: auto;
   display: flex; 
   justify-content: center;
   align-items: center;
}

#results {
   width: auto;
   height: auto;
   color: #eeeeee;
   padding: 1%;
   opacity: 0;
   transition: opacity 500ms;
}

#results > div > h2  {
   color: #ffd369;
   font-size: 2.5vmin;
}

#results > div {
   font-size: 2vmin;
}

#results > div > p {
   font-size: 1.75vmin;
   color: #393e46;
}

#input {
   color: #ffd369;
   border: none;
   background-color: #393e46;
   font-size: 2.75vmin;
   width: auto;
   padding: 1%;
}