@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

@keyframes spin {
   from {
      transform: rotate(360deg);
   }
   to {
      transform: rotate(0deg);
   }
}

* {
   margin: 0;
   font-family: 'Overpass Mono', monospace;
}

body {
   background-color: #222831;
}

#panel-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   width: 100vw;
   height: 100vh;
}

#panel {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   width: 60%;
}

#restart-button {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 90px;

   border: none;
   background-color: #ffd369;
   color: #222831;
   width: 5vmin;
   height: 5vmin;

   transition: background-color 150ms;
}

#restart-button:hover {
   background-color: #d8b25b;
}

#restart-button:active {
   transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
   animation-name: spin;
   animation-duration: 500ms;
   animation-fill-mode: forwards;
}

#passage-container {
   padding: 3%;
}

#cursor {
   position: absolute;
}

#passage {
   color: #ffd369;
   font-size: 3vmin;
}

#passage > mark {
   background-color: #ffd369;
   color: #222831;
}

#timer, #results {
   color: #eeeeee;
   padding: 2%;
   text-align: center;
}

#input {
   color: #ffd369;
   border: none;
   background-color: #393e46;
   font-size: 2.5vmin;
   width: 35%;
}

#results-container {
   position: absolute;
}